# Api key created in the Resend account
# This is used for sending emails
RESEND_API_KEY=

# Email to use for sending confirmation and notification emails.
# For local development, this must be set by the developer.
#
# If you want to tag your emails to a specific version or test,
# Add a "+" and a string to the end of the email.
# E.g.: email+special-test-2025-01-01@example.com
SENDER_EMAIL=
